
Source: capi-media-camera
Section: libs
Priority: extra
Maintainer: Seungkeun Lee <sngn.lee@samsung.com>, Kangho Hur<kagho.hur@samsung.com>
Build-Depends: debhelper (>= 5), dlog-dev, libmm-camcorder-dev, libmm-common-dev, libmm-session-dev, capi-base-common-dev

Package: capi-media-camera
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A Camera library in Tizen Native API

Package: capi-media-camera-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-media-camera (= ${Source-Version}), capi-base-common-dev
Description: A Camera library in Tizen Native API (DEV)

Package: capi-media-camera-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-media-camera (= ${Source-Version})
Description: A Camera library in Tizen Native API (DBG)

